# Docker Hub username
DOCKER_USERNAME=your_dockerhub_username

# VNPay config
VNPAY_TMN_CODE=your_tmn_code
VNPAY_HASH_SECRET=your_hash_secret
VNPAY_RETURN_URL=http://YOUR_EC2_PUBLIC_IP:8888/payment/vnpay-return

# Brevo (email service)
BREVO_KEY=your_brevo_api_key
